.flex-container {
  height: calc(100% - 150px);
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div-send-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-down {
  position: absolute;
  z-index: 2;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 100%;
  height: auto !important;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  text-align: center;
  justify-content: center;
  position: relative;

  display: grid;
  grid-template-columns: 75% 25%;
  /* grid-template-rows: 100%; */
  grid-template-areas: "video_comp message_bar";
}

.video_comp {
  height: 100%;
  width: 100%;
}

.control_bar {
  height: 100%;
}

.message_bar {
  /* grid-area: 2 / 1 / 3 / 2; */
}

.btn-send {
  /* grid-area: 2 / 2 / 3 / 3; */
}
